.container {
    border: 1px solid black;
    display: flex;
    /* height: 300px;
    align-items: center;
    justify-content: center; */
    /* flex-direction: column-reverse;  */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-content: center; */
    /* height: 300px; */
}

.green, .red, .blue {
    padding: 20px;
    margin: 10px;
    flex-basis: 75px; /* initial size */
}

.green {
    background-color: green;
    flex-grow: 1;
    order: 2;
}

.blue {
    background-color: blue;
    flex-grow: 2;
    order: 3;
}

.red {
    order: 1;
    background-color: red;
    flex-grow: 3;
}